@font-face {
  font-family: 'Spartan';
  src: url('../fonts/spartan/Spartan-Medium.woff2') format('woff2'),
      url('../fonts/spartan/Spartan-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('../fonts/spartan/Spartan-Bold.woff2') format('woff2'),
      url('../fonts/spartan/Spartan-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
