@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.hide {
  display: none;
}

.jobs-overview__vacancy {
  ul.vacancy__qualities {
    justify-content: flex-end;
  }
}

.jobs-overview__filter {
  display: flex;
  flex-direction: row;
  border-radius: 0.5em;
  padding: 0 1em;
  width: 100%;
  height: 4em;
  margin-top: -3em;
  z-index: 2;
  background: $white;
  h4 {
    cursor: pointer;
    margin-left: auto;
    align-self: center;
    color: $dark-gray-cyan;
    transition: color $small-transition;
    &:hover {
      color: $very-dark-gray-cyan;
    }
  }
  ul.vacancy__qualities {
    justify-content: flex-start;
    align-items: center;
  }
}

ul.vacancy__qualities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: job-languages;
  align-self: center;
  justify-content: flex-end;
  justify-self: flex-end;

  @media screen and (max-width: $sm-screen) {
    justify-self: flex-start;
  }

  li {
    margin: 0.25em;
    align-self: flex-end;
    + li {
      margin-left: 0.5em;
    }
    > h5 {
      cursor: pointer;
      padding: 0.8em 1em;
      border-radius: 0.5em;
      background: $light-gray-cyan-tablets;
      color: $desaturated-dark-cyan;
      transition: background $small-transition, color $small-transition;
      &:hover {
        background: darken($light-gray-cyan-tablets, 10%);
        color: lighten($desaturated-dark-cyan, 10%);
      }
    }
  }
}

section.jobs-overview {

  article.jobs-overview__vacancy {
    display: grid;
    background: $white;
    grid-column-gap: 0.5em;
    grid-template-columns: minmax(min-content, max-content) 3fr 4fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:  "company-logo company-name job-languages"
                          "company-logo job-position job-languages"
                          "company-logo job-details job-languages";
    @media screen and (max-width: $sm-screen) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 25px repeat(4, minmax(min-content, max-content));
      grid-template-areas:  "company-logo . ."
                            "company-name   company-name  company-name"
                            "job-position   job-position  job-position"
                            "job-details    job-details   job-details"
                            "job-languages  job-languages job-languages";
      margin-top: calc(25px + 1em);
    }
    border-radius: 0.5em;
    background: $white;
    box-shadow: 0 0.5em 1em 0 rgba($desaturated-dark-cyan, 0.05);
    margin-bottom: 1em;
    padding: 1em;
    border-left: 0.5em solid $desaturated-dark-cyan;

    img {
      grid-area: company-logo;
      max-width: none;
      @media screen and (max-width: $md-screen) {
        max-width: 70px;
      }
      @media screen and (max-width: $sm-screen) {
        max-width: 50px;
        margin-top: calc(-25px - 1em);
      }
    }
    h5 {
			color: $desaturated-dark-cyan;
      grid-area: company-name;
      align-self: end;
    }
    h3 {
      grid-area: job-position;
      align-self: center;
    }

    ul.vacancy__details {
      display: flex;
      flex-direction: row;
      list-style: none;
      grid-area: job-details;
      color: lighten($very-dark-gray-cyan, 50%);
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        &::before {
          content: '·';
          margin: 0 0.5em;
        }
        &:first-of-type {
          align-self: center;
          &::before {
            content: none;
          }
        }
      }
    }
  }
}
