<button (click)="sortCompany()">Sort by Company</button>

<section *ngFor="let job of jobs">
  <article>
    <img [src]="'../../assets/job-select/' + job.logo"/>
    <h5 class="bold">{{ job.company }}</h5>
    <h3 class="bold">{{ job.position}}</h3>
    <ul>
      <li><h4>{{ job.postedAt }}</h4></li>
      <li><h4>{{ job.contract }}</h4></li>
      <li><h4>{{ job.location }}</h4></li>
    </ul>
    <ul>
      <li>
        <h5>{{ job.role }}</h5>
      </li>
      <li>
        <h5>{{ job.level }}</h5>
      </li>
      <li *ngFor="languages of job.languages;let i = index">
        <p>{{ job.languages[i] }}</p>
      </li>
      <li *ngFor="tools of job.tools;let i = index">
        <p>{{ job.tools[i] }}</p>
      </li>
    </ul>
  </article>
</section>
