<section *ngFor="let job of jobs">
  <article>
    <img [src]="'../../assets/job-select/' + job.logo"/>
    <h5>{{ job.company }}</h5>
    <h3>{{ job.position}}</h3>
    <ul>
      <li><p>{{ job.postedAt }}</p></li>
      <li><p>{{ job.contract }}</p></li>
      <li><p>{{ job.location }}</p></li>
    </ul>
    <ul>
      <li>
        <p>{{ job.role }}</p>
        <p>{{ job.level }}</p>
        <p>{{ job.languages }}</p>
        <p>{{ job.tools }}</p>
      </li>
    </ul>
  </article>
</section>
