@import 'assets/scss/reset';
@import 'assets/scss/fonts';
@import 'assets/scss/colors';

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background: $light-gray-cyan-background;
  color: $very-dark-gray-cyan;
}
.container {
  width: 100%;
  // max-width: 960px;
  padding: 1em;
}

button {
  padding: 1em;
  margin: 1em;
  border: solid 0.1em $desaturated-dark-cyan;
  background: $desaturated-dark-cyan;
  color: $white;
  border-radius: 0.25em;
  cursor: pointer;
}
